* {
  margin: 0;
  padding: 0;
}

ul {
    list-style: none;
}

:root {
    --base-color: rgb(38, 154, 207);
    --accent-color: rgb(240, 171, 24);
}

body, html {
  height: 100%;
}

.layout {
    background-color: rgb(230,232,240);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
}

.layout > div {
    padding: 30px 50px;
    font-size: 20px;
}

.header {
    grid-column: 2 / 3;
    background-color: rgb(250, 250, 255);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 25px;
    align-items: center;
}

.header > * {
    display: flex;
    gap: 30px;
}

.header > .user-info,
.header > .content-buttons {
    justify-content: flex-end;
}

.content-button {
    border: none;
    background-color: var(--base-color);
}


.sidebar {
    grid-row: 1 / 3;
    background-color: var(--base-color);
}

