/* FONTS */
@font-face {
    font-family: 'Source Sans Pro';
    src: url('../bin/fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../bin/fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../bin/fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('../bin/fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* RESETS AND PRESETS */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
    list-style: none;
}

input, button, textarea, select {
  font: inherit;
}

:root {
    --background-color: rgb(230,232,240);
    --header-color: rgb(250, 250, 255);
    --base-color: rgb(38, 154, 207);
    --accent-color: rgb(240, 171, 24);
    font-size: 18px;
    font-family: 'Source Sans Pro', system-ui;
}

.icon {
    height: 30px;
    width: 30px;
}

.avatar {
    height: 50px;
    width: 50px;
}

.avatar-large {
    height: 90px;
    width: 90px;
}

/* GLOBAL LAYOUT */
body, html {
  height: 100%;
}

.layout {
    background-color: var(--background-color);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr;
}

.layout > div {
    padding: 1rem 2rem;
}



/* HEADER */
.header {
    grid-column: 2 / 3;
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 25px;
    align-items: center;
}

.header > * {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header > .user-info,
.header > .content-buttons {
    justify-content: flex-end;
    
}

.content-button {
    border: none;
    border-radius: 4rem;
    background-color: var(--base-color);
    padding: 15px 60px;
    font-size: 1rem;
    color: var(--header-color);
    cursor: pointer;
    font-weight: bold;
}

/* SIDEBAR */
.sidebar {
    grid-row: 1 / 3;
    background-color: var(--base-color);
    display: grid;
    grid-template-rows: 50px 40px repeat(6,50px) 40px repeat(3, 50px);
    color: var(--background-color);
}

.sidebar a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar .title {
    font-size: 2rem;
    font-weight: bold;
}

.sidebar .title .icon {
    width: 60px;
    height: 60px;
}

.sidebar img {
    filter: brightness(0) invert(1);
    margin-right: 15px;
}



/* MAIN AREA */
.main {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "projects announcements"
        "projects trending"
}

/* projects */
.main > .projects {
    grid-area: projects;
    align-self: stretch;
}

.projects-container {
    display: grid;
    grid-template: auto 1fr 1fr / repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.project-card {
    height: 250px;
    background-color: var(--header-color);
    border-left: 8px solid var(--accent-color);
    border-radius: 8px;
    padding: 1rem;
}

/* announcements */
.main > .announcements {
    grid-area: announcements;
}

.announcements-container {
    background-color: var(--header-color);
    border-radius: 8px;
    padding: 1.5rem;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.announcements-container > * {
    flex-grow: 1;
}

.announcements-container hr {
    margin: 30px 50px;
    color: gray;
}

/* trending */
.main > .trending {
    grid-area: trending;
}

.trending-container {
    background-color: var(--header-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

